<%-include("../partials/header")%>

<div class="container">
	<div>
		<div style="text-align: center;margin: 20px auto;">
			<h2 >
		     Edit Blog
		    </h2>
		</div>
		
		<div style="width: 30%; margin: 30px auto;">
			<form action="/blogs/<%= blog_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
				<div class="form-group">
			             <input class="form-control" type="text" value="<%=comment.text%>" aria-label="Search" name="comment[text]">
				</div>
					<button class="btn btn btn-info btn-block" type="submit">Submit!</button>
			  
  			</form>
			<a href="/blogs">Go Back</a>
		</div>
	</div>
</div>

<%-include("../partials/footer")%>