<%-include("../partials/header")%>

 <div class="container" style="text-align: center;margin: 20px auto;">
	     <a href="/QA/new" class="btn btn-info">Add a Question!!</a>
		 <%for(var i=0;i<Ques.length;i++){%>
		     <div class="card m-5">
			     <div class="card-header">
				    <blockquote class="blockquote mb-0">
				       <%=Ques[i].text%>
				       <footer class="blockquote-footer"><%=Ques[i].author.username%></footer>
				    </blockquote>
			     </div>
			 <%if(Ques[i].answers.text&&Ques[i].answers.text.length > 0){%>
				 <div class="card-body">
                    <p><%=Ques[i].answers.text%></p>
				     <a href="/QA/<%=Ques[i]._id%>" class="btn btn-info">View Other Answers</a>
			     </div>
		    <%}else{%>
				 <div class="card-body">
					 <blockquote>
						 <footer class="blockquote-footer">No Answers Yet</footer>
					 </blockquote>
				 </div>
			<%}%>
			<a href="/QA/<%=Ques[i]._id%>/Anew">click here to answer this question</a>
			<a href="/QA/<%=Ques[i]._id%>">View other answers</a>
			 
		 </div>
		 
		 <%}%>
		 
		 
    </div>



<%-include("../partials/footer")%>